/* ~~variables ~~ */
$xlbwidth: 20vw;
$xlbheight: 11.25vw;
$lbwidth: 30vw;
$lbheight: 16.876vw;
$mbwidth: 45vw;
$mbheight: 25.3125vw;
$sbwidth: 90vw;
$sbheight: 50.625vw;

$bg-color: #21295C;
$ich-color: #66c7f4;
$ica-color: #e52d6b;
$ic-color: #ffffff;

/*courtesy of Rimian and Alex Guerrero, July 1, 2013, from https://stackoverflow.com/questions/12788262/sass-browser-vendor-prefixes#17399532
/* ~~ vendor prefix formula ~~ */

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

/*========================= Image Preview Behaviors and Lightbox Classes ========================*/

.web-collection-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  div{
    display: flex;
    flex-flow: column nowrap;
    width: $xlbwidth;
    height: auto;
    margin: 1rem 0;
    cursor: pointer;
    @include vendor-prefix('transition', 'transform .2s ease-in-out');
    figure{
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      @include vendor-prefix('box-shadow', '0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.2)');
      @include vendor-prefix('transition', 'transform .2s ease-in-out, box-shadow .19s ease-in-out');
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    figcaption{
      display: flex;
      flex-flow: column nowrap;
      overflow: auto;
      padding: 2.2rem 1.3rem;
      h2, small{
        text-align: center;
      }
    }
  }
  div:hover{
    figure{
      @include vendor-prefix('box-shadow', '0 0 0.3rem 0rem rgba(0, 0, 0, 0.2)');
      @include vendor-prefix('transform', 'scale(1.05, 1.05)' );
    }
  }
}

@media screen and (max-width: 920px){
  .web-collection-container{
    div{
      width: $lbwidth;
      height: auto;
    }
  }
}

@media screen and (max-width: 675px){
  .web-collection-container{
    div{
      width: $mbwidth;
      height: auto;
    }
  }
}

@media screen and (max-width: 450px){
  .web-collection-container{
    div{
      width: $sbwidth;
      height: auto;
    }
  }
}

.section-title{
  text-align: center;
  font-size: 3em;
  @include vendor-prefix('animation', 'slideinweb 1.7s cubic-bezier(.61,.18,.69,1), fadeinweb 1.4s linear');
}

@keyframes slideinweb {
  0%    { @include vendor-prefix('transform', 'translateX(-100%)'); }
  100%  { @include vendor-prefix('transform', 'translateX(0%)');  }
}

@keyframes fadeinweb {
  0%    { opacity: 0; }
  99%   { opacity: 0; }
  100%  { opacity: 1; }
}

.optional-links{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: $ic-color;
  nav{
    font-size: 1.4em;
    margin: 0 .3rem;
    display: block;
    transition: all .1s ease-in-out;
    color: $ic-color;
      a{ color: $ic-color; }
      i {
        @include vendor-prefix('transition', 'all .1s ease-in-out');
        margin: 0.5rem 1rem 0 0;
      }
      a:hover{
        color: $ich-color;
        i{
          transform: scale(1.3) translate(-.2em, 0);
        }
      }
      a:active{
        color: $ica-color;
        i{
          transform: scale(1.5) translate(-.2em, 0);
        }
      }
  }
  small{
    color: $ic-color;
  }
}