/* ~~variables ~~ */
$bg-color: #26293a;
$menu-open-color: #a2a2aa;
$menu-close-color: #fff;
$xlbsize: 20vw;
$lbsize: 30vw;
$mbsize: 45vw;
$sbsize: 90vw;

/*courtesy of Rimian and Alex Guerrero, July 1, 2013, from https://stackoverflow.com/questions/12788262/sass-browser-vendor-prefixes#17399532
/* ~~ vendor prefix formula ~~ */

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

/*========================= Image menu behaviors, spans, and Animations =========================*/

#image-toggler{
  width: 2rem;
  height: 2.5rem;
  position: fixed;
  top: 1em;
  right: 0.7em;
  @include vendor-prefix('transform', 'rotate(0deg)');
  @include vendor-prefix('transition', 'all .5s ease-in-out');
  cursor: pointer;
  z-index: 999999;
  opacity: 0;
  pointer-events: none;
}

#image-toggler span{
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  border-radius: 6px;
  opacity: 1;
  @include vendor-prefix('transform', 'rotate(0deg)');
  @include vendor-prefix('transition', 'all .25s ease-in-out');
  background-color: $menu-close-color;
}

#image-toggler span:nth-child(1){ top: 0; }
#image-toggler span:nth-child(2){ top: 16px; }

#image-toggler.image-open {
  opacity: 1;
  pointer-events: auto;
}

#image-toggler.image-open span:nth-child(1) {
  top: 8px;
  @include vendor-prefix('transform', 'rotate(135deg)');
  background-color: $menu-open-color;
}

#image-toggler.image-open span:nth-child(2){
  top: 8px;
  @include vendor-prefix('transform', 'rotate(-135deg)');
  background-color: $menu-open-color;
}

/*========================= Image Preview Behaviors and Lightbox Classes ========================*/

.collection-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  div{
    display: flex;
    width: $xlbsize;
    height: $xlbsize;
    overflow: hidden;
    margin: 1rem 0;
    cursor: pointer;
    @include vendor-prefix('box-shadow', '0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.2)');
    @include vendor-prefix('transition', 'transform .2s ease-in-out, box-shadow .19s ease-in-out');
    background-color: rgba(0, 0, 0, 0.2);
    figure{
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      @include vendor-prefix('transition', 'width .25s ease-in-out, height .25s ease-in-out');
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    figcaption{
      display: flex;
      flex-flow: column nowrap;
      overflow: auto;
      padding: 2.2rem 1.3rem;
    }
  }
  .lbclosed{
    border-radius: 2rem;
    figcaption{
      display: none;
    }
  }
  .lbclosed:hover{
    @include vendor-prefix('transform', 'scale(1.05, 1.05)' );
    @include vendor-prefix('box-shadow', '0 0 0.3rem 0rem rgba(0, 0, 0, 0.2)');
  }
  .lbopen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba(239, 239, 239, 0.98);
    margin: 0;
    figure{
      img{
        object-fit: contain;
      }
    }
  }
  .wide{
    flex-flow: row nowrap;
    figure{
      width: 70%;
      height: 100%;
      img{
        object-fit: contain;
        object-position: left center;
      }
    }
    figcaption{
      width: 30%;
      height: 100%;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  .tall{
    flex-flow: column nowrap;
    figure{
      width: 100%;
      min-height: 70%;
      height: 70%;
      img{
        object-position: center center;
        object-fit: contain;
      }
    }
    figcaption{
      width: 100%;
      height: 30%;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.section-title{
  text-align: center;
  font-size: 3em;
  @include vendor-prefix('animation', 'slideinillus 1.7s cubic-bezier(.61,.18,.69,1), fadeinillus 1.4s linear');
}

@keyframes slideinillus {
  0%    { @include vendor-prefix('transform', 'translateX(-100%)'); }
  100%  { @include vendor-prefix('transform', 'translateX(0%)');  }
}

@keyframes fadeinillus {
  0%    { opacity: 0; }
  99%   { opacity: 0; }
  100%  { opacity: 1; }
}

@media screen and (max-width: 920px){
  .collection-container{
    div{
      width: $lbsize;
      height: $lbsize;
    }
  }
}

@media screen and (max-width: 675px){
  .collection-container{
    div{
      width: $mbsize;
      height: $mbsize;
    }
  }
}

@media screen and (max-width: 450px){
  .collection-container{
    div{
      width: $sbsize;
      height: $sbsize;
    }
  }
}