/*====================== Nav and Link classes, Animations, and Transitions ======================*/

/* ~~variables ~~ */
$bg-color: #21295C;
$menu-open-color: #a2a2aa;
$menu-close-color: #ffffff;
$ich-color: #66c7f4;
$ica-color: #e52d6b;
$ic-color: #ffffff;

/*courtesy of Rimian and Alex Guerrero, July 1, 2013, from https://stackoverflow.com/questions/12788262/sass-browser-vendor-prefixes#17399532
/* ~~ vendor prefix formula ~~ */

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

/*======================= Hamburger menu behaviors, spans, and Animations =======================*/

#menu-toggler{
  width: 2rem;
  height: 2.5rem;
  position: fixed;
  top: 1em;
  right: 0.7em;
  @include vendor-prefix('transform', 'rotate(0deg)');
  @include vendor-prefix('transition', 'all .5s ease-in-out');
  cursor: pointer;
  z-index: 9999;
}

#menu-toggler span{
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  border-radius: 6px;
  opacity: 1;
  @include vendor-prefix('transform', 'rotate(0deg)');
  @include vendor-prefix('transition', 'all .25s ease-in-out');
  background-color: $menu-close-color;
}

#menu-toggler span:nth-child(1){ top: 0; }
#menu-toggler span:nth-child(2){ top: 8px; }
#menu-toggler span:nth-child(3){ top: 16px; }

#menu-toggler.hamburger-open span:nth-child(1) {
  top: 8px;
  @include vendor-prefix('transform', 'rotate(135deg)');
  background-color: $menu-open-color;
}

#menu-toggler.hamburger-open span:nth-child(2){
  opacity: 0;
  left: -30px;
  background-color: $menu-open-color;
}

#menu-toggler.hamburger-open span:nth-child(3){
  top: 8px;
  @include vendor-prefix('transform', 'rotate(-135deg)');
  background-color: $menu-open-color;
}

/*================================= Nav Properties and Behaviors ================================*/

nav{
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background-color: $bg-color;
  z-index: 9998;
}

.nav-open{
  opacity: 1;
  border-radius: 0%;
  @include vendor-prefix('transition', 'opacity .1s ease-out, border-radius .2s linear, transform .2s linear, width .2s linear, height .2s linear, right .2s linear, top .2s linear');
}

.nav-closed{
  opacity: 0;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  top: .5em;
  right: 5em;
  pointer-events: none;
  @include vendor-prefix('transition', 'opacity .4s ease-out, border-radius .2s linear .4s, transform .2s linear .4s, width .2s linear .4s, height .2s linear .4s, right .2s linear .4s, top .2s linear .4s');
}

nav>a{
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  text-decoration: none;
  cursor: pointer;
  span{
    font-size: 10vw;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    color: $ich-color;
    -webkit-text-stroke: .01em $bg-color;
    @include vendor-prefix('transition','color .3s ease-in-out, text-stroke .3s ease-in-out');
  }
}

nav>a:hover{
  span{
    @include vendor-prefix('animation', 'navitemscale .3s ease-in-out');
    @include vendor-prefix('transform', 'scale(1.04, 1.04)');
    color: $ich-color;
    -webkit-text-stroke: 1px $bg-color;
  }
}

nav>a:active{
  span{
    color: $ica-color;
    -webkit-text-stroke: 1px $bg-color;
  }
}

nav>a:nth-child(1){ background-image: url('/assets/images/backgrounds/webdev-background.jpg'); } //webdev
nav>a:nth-child(2){ background-image: url('/assets/images/backgrounds/design-background.jpg'); } //design
nav>a:nth-child(3){ background-image: url('/assets/images/backgrounds/about-background.jpg'); } //about
nav>a:nth-child(4){ background-image: url('/assets/images/backgrounds/illustration-background.jpg'); } //illustration

/*Minor Variance of transitions from opened and closed nav section anchors*/
nav>a.comic-open{ @include vendor-prefix('transition','height .3s linear, width .3s linear, clip-path .5s ease-in-out, z-index .6s'); }
nav>a.comic-closed{ @include vendor-prefix('transition','height .3s linear .3s, width .3s linear .3s, clip-path .5s ease-in-out .3s, z-index .6s'); }

#nav-webdev{
  top: 0;
  left: 0;
}

.comic-closed:nth-child(1){ /* #nav-webdev style */
  clip-path: polygon(3% 3%, 96% 3%, 96% 90%, 3% 85%);
  width: 60%;
  height: 60%;
  z-index: 4;
}

#nav-design{
  top: 0;
  right: 0;
}

.comic-closed:nth-child(2){ /* #nav-design style */
  clip-path: polygon(0% 3%, 96% 3%, 96% 94%, 0% 90%);
  width: 40%;
  height: 60%;
  z-index: 3;
}

#nav-about{
  bottom: 0;
  left: 0;
}

.comic-closed:nth-child(3){ /* #nav-about style */
  clip-path: polygon(5.5% 1%, 100% 5%, 100% 97%, 5.5% 97%);
  width: 35%;
  height: 46%;
  z-index: 2;
}

#nav-illustration{
  bottom: 0;
  right: 0;
}

.comic-closed:nth-child(4){ /* #nav-illustration style */
  clip-path: polygon(5% 3%, 97.5% 10%, 97.5% 97%, 5% 97%);
  width: 65%;
  height: 45%;
  z-index: 1;
}

.comic-open{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  z-index: 999;
}

@media screen and (max-width: 668px){
  nav{
    display: flex;
    flex-flow: column nowrap;
  }

  nav>a{
    font-size: 15vw;
  }

  #nav-webdev{ top: 0; }
  #nav-design{ top: 25%; }
  #nav-about{ bottom: 25%; }
  #nav-illustration{ bottom: 0; }

  .comic-closed:nth-child(1), .comic-closed:nth-child(2), .comic-closed:nth-child(3), .comic-closed:nth-child(4){
    width: 100%;
    height: 25%;
    z-index: 4;
  }

  .comic-closed:nth-child(1){ clip-path: polygon(3% 7%, 96% 7%, 96% 93%, 3% 85%); }
  .comic-closed:nth-child(2),
  .comic-closed:nth-child(3){ clip-path: polygon(3% 0%, 96% 7%, 96% 93%, 3% 85%); }
  .comic-closed:nth-child(4){ clip-path: polygon(3% 0%, 96% 7%, 96% 90%, 3% 90%); }

  #nav-design.comic-open{ top: 0; }
  #nav-about.comic-open{ bottom: 0; }

  nav>a.comic-open, nav>a.comic-closed{ @include vendor-prefix('transition','height .3s linear, width .3s linear, clip-path .3s ease-in-out, top .3s linear, bottom .3s linear'); }
}

@media screen and (min-width: 1870px){
  nav>a{
    font-size: 12em;
  }
}

@keyframes navitemscale {
  0%    { @include vendor-prefix('transform', 'scale(1, 1)'); }
  100%  { @include vendor-prefix('transform', 'scale(1.04, 1.04)'); }
}