<div id="menu-toggler" [ngClass]="nState ? 'hamburger-open' : ''" (click)="onOpenPage('hamburger-action')">
  <span></span>
  <span></span>
  <span></span>
</div>
<nav [ngClass]="nState ? 'nav-open' : 'nav-closed'">
  <a  id="nav-webdev" [ngClass]="wState ? 'comic-open' : 'comic-closed'"
      (click)="onOpenPage('webdev')" ><span>WebDev</span></a>
  <a  id="nav-design" [ngClass]="dState ? 'comic-open' : 'comic-closed'"
      (click)="onOpenPage('design')"><span>Design</span></a>
  <a  id="nav-about" [ngClass]="aState ? 'comic-open' : 'comic-closed'"
      (click)="onOpenPage('about')"><span>About</span></a>
  <a  id="nav-illustration" [ngClass]="iState ? 'comic-open' : 'comic-closed'"
      (click)="onOpenPage('illustration')"><span>Illustration</span></a>
</nav>
