/*========================= Styles for Global tags such as HTML and Body =========================*/

/*courtesy of Rimian and Alex Guerrero, July 1, 2013, from https://stackoverflow.com/questions/12788262/sass-browser-vendor-prefixes#17399532
/* ~~ vendor prefix formula ~~ */

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

/*Primary Universal Styles for App*/

*{
  @include vendor-prefix('box-sizing', 'border-box');
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

html{
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#21295c+0,21295c+43,7261a3+100 */
  background: rgb(33,41,92); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(33,41,92,1) 0%, rgba(33,41,92,1) 43%, rgba(114,97,163,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(33,41,92,1) 0%,rgba(33,41,92,1) 43%,rgba(114,97,163,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(33,41,92,1) 0%,rgba(33,41,92,1) 43%,rgba(114,97,163,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21295c', endColorstr='#7261a3',GradientType=0 ); /* IE6-9 */
}

/*==================================== Styles for Fonts and Sizes ==================================*/

p, h1, h2, h3, h4, h5, h6, li, ul form, label { color: #ffffff; }

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto Condensed', sans-serif; }

p, a, li, label, textarea, input, small { font-family: 'Dosis', sans-serif; }

h3 { padding: 2rem 0; }

/*==================================== Styles for Body Scroll Bar ==================================*/

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255, 0.1);
  background-color: rgba(255,255,255,0.1);
  border-radius: 2em;
}

body::-webkit-scrollbar-track{
  background-color: transparent;
}

/*================================= Styles for Figcaption Scroll Bar ===============================*/


figcaption::-webkit-scrollbar {
  width: 10px;
}

figcaption::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
  border-radius: 2em;
}

figcaption::-webkit-scrollbar-track{
  background-color: transparent;
}

/*======================================= Styles for Main Tag =====================================*/

main{
  min-height: 82vh;
}